.tabla-historial{
    width: 96%;
    margin-left: 2%;
    border-collapse: collapse;
    border-spacing: 0;
    border: .3rem solid rgb(255, 255, 255);
}

.tabla-historial-titulos{
    height: 4rem;
}

.tabla-historial-titulos th{
    padding: 0.5rem;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(49, 120, 201);
    white-space: normal;
    word-wrap: break-word;
}

.columna-historial-id{
    width: 2%;
}

.columna-historial-evento{
    width: 3%;
}

.columna-historial-tarea{
    width: 2%;
}

.columna-historial-tipo{
    width: 2%;
}

.columna-historial-titulo{
    width: 7%;
}

.columna-historial-texto{
    width: 15%;
}

.columna-historial-fecha-inicio{
    width: 3.5%;
}

.columna-historial-fecha-fin{
    width: 3.5%;
}

.columna-historial-categoria{
    width: 3.5%;
}

.columna-historial-estado{
    width: 3%;
}

.columna-historial-usuario{
    width: 5%;
}

.columna-historial-fecha-modificacion{
    width: 3.5%;
}

.columna-historial-editor{
    width: 5%;
}

.columna-historial-opciones{
    width: 3%;
}

.tabla-historial-body tr:nth-child(4n-1), .tabla-historial-body tr:nth-child(4n) {
    background-color: rgb(211, 211, 206);
}

.tabla-historial-body td:hover {
    color: red;
}

.tabla-historial-body{
    text-align: center;
    font-size: 65%;
    white-space: normal;
    word-wrap: break-word;
}

.celda-historial-fecha-modificacion{
    font-size: auto;
    text-overflow: none;
    white-space: none;
}
