.formulario-modificar-password {
	position: absolute;
    align-items: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40rem;
	margin-top: 1%;
}

.titulo-modificar-password{
    width: 100%;
    margin-bottom: 7rem;
    text-align: center;
    font-size: 2rem;
    color: bisque;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.btn-modificar-password{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
}

.texto-grupo-modificar-password{
    width: 40rem;
    text-align: center;
    font-size: 1.3rem;
    color: bisque;
}

.texto-modificar-password{
    width: 100%;
    margin-top: 3rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
}

.error-grupo-modificar-password{
    width: 40rem;
    height: 5rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
}

.error-mensaje-modificar-password{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-mensaje-modificar-password p{
    width: 36rem;
    height: 3rem;
    color: gold;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(40deg, rgb(3, 60, 107), rgb(3, 86, 110));
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border: .1rem solid whitesmoke;
	border-radius: .4rem;
}
