.contenedor-buscar {
    height: auto;
    overflow-y: auto;
    margin-bottom: 6rem;
}

.paginas-subtitulo{
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.formulario-buscar-contenedor{
    width: 100%;
    margin-bottom: 1rem;
}

.formulario-buscar-contenedor form{
    width: 96%;
    margin-left: 2%;
}

.formulario-buscar-paginado,
.formulario-buscar-orden{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .2rem;
}

.formulario-buscar-titulo{
    font-size: 1.8rem;
    color: wheat;
    text-align: center;
    text-shadow: .1rem .1rem .1rem black;
    margin-left: 4rem;
}

.tabla-buscar{
    width: 96%;
    margin-left: 2%;
    border-collapse: collapse;
    border-spacing: 0;
    border: .3rem solid rgb(255, 255, 255);
}

.tabla-buscar-titulos{
    height: 4rem;
}

.tabla-buscar th{
    padding: 0.5rem;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(49, 120, 201);
    white-space: normal;
    word-wrap: break-word;
}

.columna-buscar-id {
    width: 4%;
}

.columna-buscar-titulo {
    width: 12%;
}

.columna-buscar-texto{
    width: 33%;
}

.columna-buscar-fecha-cracion,
.columna-buscar-fecha-inicio,
.columna-buscar-fecha-fin{
    width: 6%;
}

.columna-buscar-categoria,
.columna-buscar-estado{
    width: 7%;
}

.columna-buscar-usuario{
    width: 12%;
}

.columna-buscar-opciones{
    width: 7%;
}

.tabla-buscar-body{
    text-align: center;
    font-size: 70%;
    white-space: normal;
    word-wrap: break-word;
}

.tabla-buscar-body td:hover {
    color: red;
}

.tabla-buscar-body tr:nth-child(4n-2), .tabla-buscar-body tr:nth-child(4n) {
    background-color: rgb(211, 211, 206);
}

.celda-buscar-id{
    font-weight: bold;
}

.paginacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: wheat;
    font-size: 1.8rem;
    text-shadow : .1rem .1rem .1rem black;
}

.paginacion span,
.paginacion button{
    margin-left: .3rem;
    margin-right: .3rem;
}


@media only screen and (max-width: 1366px) {
    .tabla-buscar {
        overflow-x: auto;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .tabla-buscar {
        overflow-x: auto;
        display: block;
    }

    .tabla-buscar th{
        font-size: 80%;
    }

    .tabla-buscar tr{
        font-size: 70%;
    }

    .columna-buscar-fecha-cracion,
    .columna-buscar-fecha-inicio,
    .columna-buscar-fecha-fin{
        display: none;
    }

    .celda-buscar-fecha-creacion,
    .celda-buscar-fecha-inicio,
    .celda-buscar-fecha-fin{
        display: none;
    }
}
