.btn-grupo-modificar{
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateY(-2rem);
}

.error-grupo-modificar{
    display: flex;
    justify-content: center;
    width: 45rem;
    height: 5rem;
    margin: .3rem auto;
    text-align: center;
    font-size: 1.3rem;
}

@media (max-height: 920px) {
    body{
        overflow: auto;
    }

    .contenedor-modificar {
        top: 55%;
        transform: translate(-50%, -50%) scale(0.95);
    }
}

@media (max-width: 920px) {
    body{
        overflow: auto;
    }

    .contenedor-modificar {
        top: 55%;
        transform: translate(-50%, -50%) scale(0.85);
    }
}


@media (max-width: 850px) {
    body{
        overflow: auto;
    }

    .contenedor-modificar {
        top: 55%;
        transform: translate(-50%, -50%) scale(0.75);
    }
}


@media (max-width: 768px) {
    body{
        overflow: auto;
    }

    .contenedor-modificar {
        top: 55%;
        transform: translate(-50%, -50%) scale(0.65);
    }
}

@media (max-width: 600px) {
    .contenedor-modificar {
        top: 50%;
        transform: translate(-50%, -50%) scale(0.9);
    }

    .formulario-modificar{
        width: 98%;
        margin: 0% 1% 0 1%;
    }

    .formulario-modificar-tarea{
        width: 100%;
    }

    .btn-grupo-modificar{
        transform: translateY(-1rem) scale(0.8);
    }
}


