.btn-grupo-modificar{
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateY(-2rem);
}

.error-grupo-modificar{
    display: flex;
    justify-content: center;
    width: 45rem;
    height: 5rem;
    margin: .3rem auto;
    text-align: center;
    font-size: 1.3rem;
}

@media (max-height: 920px) {
    body{
        overflow: auto;
    }

    .contenedor-modificar {
        top: 55%;
        transform: translate(-50%, -50%) scale(0.86);
    }
}

@media (max-width: 768px) {

    .formulario-modificar{
        width: 86%;
        margin: 0% 7% 0 7%;
    }
}


