.sectores-comentarios {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: .5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: 89rem 89rem;
    grid-template-columns: min-content min-content;
    grid-template-areas:
        "sector-comentario-1"
        "sector-comentario-2";
    grid-gap: 1rem;
}

.sector-comentario {
    margin: 2rem 1rem 1rem 1rem;
    width: calc(50% - 1rem);
    flex: 1;
    margin-bottom: 3rem;
    background-color: #ccc;
    border: 0.2rem solid black;
    padding: .5rem;
}

.sector-comentario-1{
    flex-direction: column;
    width: 89rem;
    height: 55rem;
    margin-left: 2.1rem;
    margin-bottom: 1rem;
    font: 1.6rem sans-serif;
    background-color: rgb(1, 51, 92);
    border: 0.2rem solid black;
    flex: 1;
    grid-area: sector-comentario-1;
}

.sector-comentario-2{
    display: flex;
    flex-direction: column;
    width: 89rem;
    margin-left: 2.1rem;
    font: 1.6rem sans-serif;
    background-color: rgb(1, 51, 92);
    border: 0.2rem solid black;
    flex: 1;
    grid-area: sector-comentario-2;
}

.btn-grupo-ver{
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateY(2rem);
}

.comentario-titulo{
    display: flex;
    font-size: 2rem;
    color: rgb(163, 163, 163);
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 19, 29);
    height: 3rem;
    margin-bottom: .5rem;
}

input:disabled{
	background: rgba(0,0,0,0.3);
    color: #fff;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0,0.3);
}

textarea:disabled {
    color: black;
}

select:disabled {
    color: black;
}

/* Lista de comentarios */

.listaComentarios{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.listaComentario{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.listaComentario p{
    width: 100%;
    height: auto;
    margin-top: .1rem;
    margin-bottom: .1rem;
    padding: .5rem;
    background-color: rgb(238, 234, 234);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.listaComentario textarea{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: rgb(238, 234, 234);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.fechaComentario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.footerComentario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid rgb(221, 217, 217);
    padding: .5rem;
}


/* Formulario crear comentario */

.contenedorComentario{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
    background-color: rgb(230, 226, 226);
    border: 0.2rem solid black;
    padding: .5rem;
}

.formComentario{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: #ccc;
}

.formComentario textarea{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem;
}

.botonesComentario{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.botonesComentario button{
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: #ccc;
}
